{%  extends 'main/app.html' %}
{% load static %}

{%  block content %}
			<section class="hero">
				<div class="con d-flex align-items-center justify-content-end">
					<a href="/advantages" class="" style="font-size: 0.9rem; height: 15rem">Посмотреть все </a>
				</div>
			  <div class="home-slider owl-carousel js-fullheight">
                  {% for adv in adv_list %}
		      <div class="slider-item =js-fullheight">
		      	<div class="overlay"></div>
		        <div class="container">
		          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
		          	<div class="one-third order-md-last img" style="background-image:url({% static 'main/images/work-1.jpg' %});">
		          		<div class="overlay"></div>
		          	</div>
			          <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
			          	<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
		    						<span class="ion-ios-play play"></span>
		    					</a>
			          	<div class="text">
			          		<h2><a href="#">{{ adv.name }}</a></h2>
			          		<span class="cat">{{ adv.username }}</span>
			          		<div class="my-5">
			          			<p>{{ adv.about }}</p>
			          		</div>
			          		<p><a href="/advantages/{{ adv.id }}" class="btn-custom" style="z-index: 99999">Посмотреть</a></p>
			            </div>
			          </div>
		        	</div>
		        </div>
		      </div>

                {%  endfor %}

		    </div>
		  </section>


{%  endblock %}
